:root {
  --primary-color: #4470ad;
}

body {
  background-color: #f8f9fa;
  color: #333;
}

.bg-primary-custom {
  background-color: var(--primary-color) !important;
}

.text-primary-custom {
  color: var(--primary-color) !important;
}
